<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnerAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>Details.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.Login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadInfo</display-name>
    <servlet-name>ReadInfo</servlet-name>
    <servlet-class>Details.ReadInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadInfo</servlet-name>
    <url-pattern>/ReadInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadDetails</display-name>
    <servlet-name>ReadDetails</servlet-name>
    <servlet-class>Details.ReadInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadDetails</servlet-name>
    <url-pattern>/ReadDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadServlet</display-name>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>Details.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/ReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>Details.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacher</display-name>
    <servlet-name>Teacher</servlet-name>
    <servlet-class>Details.Teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher</servlet-name>
    <url-pattern>/Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadTeachers</display-name>
    <servlet-name>ReadTeachers</servlet-name>
    <servlet-class>Details.ReadTeachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadTeachers</servlet-name>
    <url-pattern>/ReadTeachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacher</display-name>
    <servlet-name>DeleteTeacher</servlet-name>
    <servlet-class>Details.DeleteTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacher</servlet-name>
    <url-pattern>/DeleteTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadClass</display-name>
    <servlet-name>ReadClass</servlet-name>
    <servlet-class>Details.ReadClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadClass</servlet-name>
    <url-pattern>/ReadClass</url-pattern>
  </servlet-mapping>
</web-app>